$bright_teal: #1de9b6;

.section_container {
  max-height: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.section_item {
  height: auto;
  width: 100%;
  max-height: 100%;

  .thumbnail {
    width: 100%;
    max-height: 100%;
    height: auto;
  }
}

.view_all_link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.view_all_link_text {
  color: $bright_teal;
}

.section_header {
  display: flex;
  justify-content: space-between;
}

.cursor_pointer {
  cursor: pointer;
}
